{% extends '::datatable.html.twig' %}

{% block title %}Productos {{ 'label.list'|trans|capitalize }}{% endblock %}
{% block titleContent %}Productos {{ 'label.list'|trans|capitalize }}{% endblock %}

{% block contenido %}
    <div class="box">
        <div class="box-body">
            {{ sg_datatables_render(datatable) }}
        </div>
    </div>
{% endblock %}