{% extends '::datatable.html.twig' %}

{% block title %}Directorio {{ 'label.list'|trans|capitalize }}{% endblock %}
{% block titleContent %}Directorio {{ 'label.list'|trans|capitalize }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}d
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

    <style type="text/css" media="all">
        #map-directorio {
            height: 500px;
        }

        .directorio-item {
            border-bottom: 1px solid #ccc;
            padding-bottom: 15px;
        }

        .centrar-mapa {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block contenido %}
    <div class="box box-solid">
        <div class="box-body text-right">
            <a class="btn btn-primary" href="{{ path('directorio_new') }}">
                {{ 'label.add'|trans|capitalize }}
            </a>
        </div>
    </div>

    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        {{ form_start(searchForm) }}
                        <div class="col-md-9">
                            {{ form_label(searchForm.name) }}
                            {{ form_widget(searchForm.name) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_label(searchForm.ratio) }}
                            {{ form_widget(searchForm.ratio) }}
                        </div>
                        {{ form_end(searchForm) }}
                    </div>
                    <div style="max-height: 425px; overflow-x: hidden; overflow-y: scroll">
                        {% for directorio in directorios %}
                            <div class="row directorio-item" data-lat="{{ directorio.latitud }}"
                                 data-lon="{{ directorio.longitud }}">
                                <div class="col-md-9">
                                    <strong class="directorio-nombre">{{ directorio.nombre }}</strong><br/>
                                    {{ directorio.telefono }}<br/>
                                    {{ directorio.email }}<br/>
                                    {{ directorio.web }}<br/>
                                </div>
                                <div class="col-md-3">
                                    <a href="{{ path('directorio_show', {id: directorio.id}) }}" target="_blank">
                                        <img src="{{ asset('bundles/app/img/lupa.png') }}" width="20"
                                             alt="Ver {{ directorio.nombre }}" title="Ver {{ directorio.nombre }}">
                                    </a>
                                    <img class="centrar-mapa" src="{{ asset('bundles/app/img/felcha.png') }}"
                                         alt="Centrar mapa" title="Centrar mapa" width="20">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="map-directorio"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

    <script type="text/javascript">
        let mapCenter = [51.505, -0.09];
        let mapZoom = [16];

        $(document).ready(function () {
            var directorioMap = L.map('map-directorio', {
                center: mapCenter,
                zoom: mapZoom
            });

            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {}).addTo(directorioMap);

            {% for directorio in directorios %}
            {% if directorio.latitud and directorio.longitud %}
            L.marker([{{ directorio.latitud }}, {{ directorio.longitud }}]).addTo(directorioMap)
                .bindPopup('{{ directorio.nombre }}');
            {% endif %}
            {% endfor %}

            $("#directorio_search_name").on('keyup', function () {
                let searchName = $(this).val().toLowerCase();
                if (searchName.length == 0) {
                    $('.directorio-item').each(function () {
                        $(this).removeClass('hidden');
                    });

                    return;
                }

                $('.directorio-item').each(function () {
                    let name = $(this).find('.directorio-nombre').text();
                    if (name.toLowerCase().search(searchName) > 0) {
                        $(this).removeClass('hidden');

                        let lat = $(this).data('lat');
                        let lon = $(this).data('lon');

                        if (lat && lon) {
                            mapCenter = [lat, lon];
                        }
                    } else {
                        $(this).addClass('hidden');
                    }
                });

                directorioMap.panTo(mapCenter);
            });

            $("#directorio_search_ratio").on('change', function () {
                directorioMap.setZoom($(this).val());
            });

            $(".centrar-mapa").on('click', function () {
                let directorioItem = $(this).closest('.directorio-item');

                let lat = directorioItem.data('lat');
                let lon = directorioItem.data('lon');

                if (lat && lon) {
                    directorioMap.panTo([lat, lon]);
                }
            })
        });
    </script>
{% endblock %}
