{% extends '::intranet.html.twig' %}

    {% block title %}Directorio{% endblock %}
    {% block titleContent %}Directorio{% endblock %}

    {% block contenido %}
        <div class="box box-solid">
            <div class="box-body text-right">
                <a class="btn btn-default" href="{{ path('directorio') }}">
                    {{ 'label.list'|trans|capitalize }}
                </a>
                <a class="btn btn-primary"
                   href="{{ path('directorio_edit', { 'id': entity.id }) }}">
                    {{ 'label.edit'|trans|capitalize }}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Directorio {{ entity.id }}</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>Nombre</th>
                                <td>{{ entity.nombre }}</td>
                            </tr>
                            <tr>
                                <th>Dirección</th>
                                <td>{{ entity.direccion }}</td>
                            </tr>
                            <tr>
                                <th>Teléfono</th>
                                <td>{{ entity.telefono }}</td>
                            </tr>
                            <tr>
                                <th>Provincia</th>
                                <td>{{ entity.provincia }}</td>
                            </tr>
                            <tr>
                                <th>Zona</th>
                                <td>{{ entity.zona }}</td>
                            </tr>
                            <tr>
                                <th>Población</th>
                                <td>{{ entity.poblacion }}</td>
                            </tr>
                            <tr>
                                <th>Cp</th>
                                <td>{{ entity.cp }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ entity.email }}</td>
                            </tr>
                            <tr>
                                <th>Web</th>
                                <td>{{ entity.web }}</td>
                            </tr>
                            <tr>
                                <th>Contacto</th>
                                <td>{{ entity.contacto }}</td>
                            </tr>
                            <tr>
                                <th>Info</th>
                                <td>{{ entity.info }}</td>
                            </tr>
                            <tr>
                                <th>Gmaps</th>
                                <td>{{ entity.gmaps }}</td>
                            </tr>
                            <tr>
                                <th>Sucursal</th>
                                <td>{{ entity.sucursal }}</td>
                            </tr>
                            <tr>
                                <th>Cif</th>
                                <td>{{ entity.cif }}</td>
                            </tr>
                            <tr>
                                <th>Latitud</th>
                                <td>{{ entity.latitud }}</td>
                            </tr>
                            <tr>
                                <th>Longitud</th>
                                <td>{{ entity.longitud }}</td>
                            </tr>
                            <tr>
                                <th>Categoría</th>
                                <td>{{ entity.categoria }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {% if entity.sucursales %}
                <div class="col-md-6">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Sucursales</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Provincia</th>
                                    <th>Población</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for sucursal in entity.sucursales %}
                                    <tr>
                                        <td>{{ sucursal.nombre }}</td>
                                        <td>{{ sucursal.provincia }}</td>
                                        <td>{{ sucursal.poblacion }}</td>
                                        <td>
                                            <a class="btn btn-default btn-xs"
                                               href="{{ path('directorio_show', {id:sucursal.id}) }}" target="_blank">
                                                Ver
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

    {% endblock %}
