{%- for action in record_actions %}
    <a class="btn btn-warning"
       href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': entity."~ identifier ~" }) }}" }}">
        {{ action | capitalize }}
    </a>
{%- endfor %}