<div class="box box-solid">
    <div class="box-body text-right">
        <a class="btn btn-default" href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}">
            {{ "{{ 'label.list'|trans|capitalize }}" }}
        </a>
        {% if ('edit' in actions) and (not hide_edit) %}
            <a class="btn btn-warning"
               href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity."~ identifier ~" }) }}" }}">
                {{ "{{ 'label.edit'|trans|capitalize }}" }}
            </a>
        {% endif %}
    </div>
</div>