{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/comun.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block bodyclass %}fixed skin-black sidebar-mini wysihtml5-supported{% endblock %}

{% block content %}
    <div class="wrapper">
        <header class="main-header">
            <a href="{{ path("app_default_dashboard") }}" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                <span class="logo-lg">
                    <img src="{{ asset('bundles/app/img/logo.png') }}" height="35" alt="{{ app.name|trans }}"
                         title="{{ app.name|trans }}" class="icon"/> {{ app.name|trans }}
                </span>
                <span class="logo-mini">
                    <img src="{{ asset('bundles/app/img/logo-mini.png') }}" height="45" alt="{{ app.name|trans }}"
                         title="{{ app.name|trans }}" class="icon" style="max-width:80%;"/>
                </span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                {% include('include/header.html.twig') %}
            </nav>
        </header>

        <aside class="main-sidebar">
            {% include('include/menu.html.twig') %}
        </aside>

        <div class="content-wrapper">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>ERROR {{ exception.code }}</h1>
                    <h2>{{ exception.message }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% for traceline in exception.trace %}
                        {% for key, value in traceline %}
                            {% if value is not iterable %}
                                {{ key }}: {{ value }}<br/>
                            {% endif %}
                        {% endfor %}
                        <hr/>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- AdminLTE App -->
    <script src="{{ asset('bundles/app/plugins/slimScroll/jquery.slimscroll.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('bundles/app/plugins/fastclick/fastclick.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/plugins/select2/select2.full.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/plugins/select2/i18n/es.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/app.min.js') }}" type="text/javascript"></script>

    <script src="{{ asset('bundles/app/js/main.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/intranet.js') }}" type="text/javascript"></script>
{% endblock %}