{% extends '::datatable.html.twig' %}

{% block title %}Zonas {{ 'label.list'|trans|capitalize }}{% endblock %}
{% block titleContent %}Zonas {{ 'label.list'|trans|capitalize }}{% endblock %}

{% block contenido %}
    <div class="box">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                {% for zona in zonas %}
                    <li{% if loop.first %} class="active"{% endif %}>
                        <a data-toggle="tab" href="#zona-{{ zona.id }}">{{ zona.nombre }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for zona in zonas %}
                    <div class="tab-pane fade box{% if loop.first %} in active{% endif %}" id="zona-{{ zona.id }}">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for supermercado in zona.supermercados %}
                                <tr>
                                    <td>
                                        {% if supermercado.img %}
                                            <img src="{{ asset('uploads/supermercado/' ~ supermercado.img) }}"
                                                 alt="{{ supermercado.nombre }}" height="20"/>
                                        {% endif %}
                                    </td>
                                    <td>{{ supermercado.nombre }}</td>
                                    <td>
                                        <a href="{{ path('estadisticas_promociones_supermercado', {'supermercadoId':supermercado.id}) }}"
                                           class="btn btn-default btn-sm" target="_blank">Promociones</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}