{% extends '::datatable.html.twig' %}

{% block title %}Zonas {{ producto.nombre }}{% endblock %}
{% block titleContent %}Zonas {{ producto.nombre }}{% endblock %}

{% block contenido %}
    <div class="box">
        <div class="box-body">
            {{ sg_datatables_render(datatable) }}
        </div>
    </div>
{% endblock %}
