{% if is_granted('ROLE_SUPER_ADMIN') %}
    <img src="{{ asset('bundles/app/img/avatar.png') }}" class="img-circle"
         alt="{% include 'include/username.html.twig' %}"/>
{% elseif is_granted('ROLE_ADMIN') %}
    <img src="{{ asset(app.user.routeAvatar) }}" class="img-circle" alt="{% include 'include/username.html.twig' %}"/>
{% endif %}