<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
    <span class="sr-only">Toggle navigation</span>
</a>
<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i>
                <span>{% include 'include/username.html.twig' %}<i class="caret"></i></span>
            </a>
            <ul class="dropdown-menu">
                <li class="user-header">
                    {% include 'include/avatar.html.twig' %}
                    <p>{% include 'include/username.html.twig' %}</p>
                </li>
                <li class="user-footer">
                    <div class="pull-right">
                        <a href="{{ path('logout') }}" class="btn btn-default btn-flat">
                            {{ 'label.logout'|trans|capitalize }}
                        </a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>