<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            {% include 'include/avatar.html.twig' %}
        </div>
        <div class="pull-left info">
            <p>Hola, {% include 'include/username.html.twig' %}</p>
            <a href="#"><i class="fa fa-circle text-success"></i> {{ 'label.online'|trans }}</a>
        </div>
    </div>
    <ul class="sidebar-menu" id="mainMenu">
        <li class="header">{{ 'menu.title'|trans|capitalize }}</li>
        <li class="treeview" data-menu="menu-informe-semanal">
            <a href="#">
                <i class="fa fa-bar-chart"></i><span>{{ 'menu.informe_semanal.title'|trans|capitalize }}</span>
                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
            </a>
            <ul class="treeview-menu">
                <li class="save-active-menu" data-menu="menu-informe-zonas" data-parent="menu-informe-semanal">
                    <a href="{{ path('estadisticas_zonas') }}">
                        <i class="fa fa-map"></i><span>{{ 'menu.informe_semanal.zonas'|trans|capitalize }}</span>
                    </a>
                </li>
                <li class="save-active-menu" data-menu="menu-informe-productos" data-parent="menu-informe-semanal">
                    <a href="{{ path('estadisticas_productos') }}">
                        <i class="fa fa-dropbox"></i><span>{{ 'menu.informe_semanal.productos'|trans|capitalize }}</span>
                    </a>
                </li>
                <li class="save-active-menu" data-menu="menu-informe-promociones" data-parent="menu-informe-semanal">
                    <a href="{{ path('estadisticas_promociones') }}">
                        <i class="fa fa-arrow-down"></i><span>{{ 'menu.informe_semanal.promociones'|trans|capitalize }}</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="save-active-menu" data-menu="menu-directorio">
            <a href="{{ path('formularios') }}">
                <i class="fa fa-skype"></i><span>{{ 'menu.servicios'|trans|capitalize }}</span>
            </a>
        </li>
        <li class="save-active-menu" data-menu="menu-directorio">
            <a href="{{ path('directorio') }}">
                <i class="fa fa-road"></i><span>{{ 'menu.directorio'|trans|capitalize }}</span>
            </a>
        </li>
        {#        <li class="save-active-menu" data-menu="menu-gastos">#}
        {#            <a href="#">#}
        {#                <i class="fa fa-dollar"></i><span>{{ 'menu.gastos'|trans|capitalize }}</span>#}
        {#            </a>#}
        {#        </li>#}
        {#        <li class="save-active-menu" data-menu="menu-facturas">#}
        {#            <a href="#">#}
        {#                <i class="fa fa-money"></i><span>{{ 'menu.facturas'|trans|capitalize }}</span>#}
        {#            </a>#}
        {#        </li>#}
        <li class="header">{{ 'menu.admin'|trans|capitalize }}</li>
        <li class="save-active-menu" data-menu="menu-productos">
            <a href="{{ path('admin_productos') }}">
                <i class="fa fa-product-hunt"></i><span>{{ 'menu.informe_semanal.productos'|trans|capitalize }}</span>
            </a>
        </li>
        <li class="save-active-menu" data-menu="menu-precios-productos">
            <a href="{{ path('admin_preciosactprod') }}">
                <i class="fa fa-product-hunt"></i><span>{{ 'menu.precios_productos'|trans|capitalize }}</span>
            </a>
        </li>
        <li class="save-active-menu" data-menu="menu-promociones">
            <a href="{{ path('admin_promociones') }}">
                <i class="fa fa-product-hunt"></i><span>{{ 'menu.informe_semanal.promociones'|trans|capitalize }}</span>
            </a>
        </li>
        <li class="save-active-menu" data-menu="menu-supermercados">
            <a href="{{ path('admin_supermercados') }}">
                <i class="fa fa-shopping-basket"></i><span>{{ 'menu.supermercados'|trans|capitalize }}</span>
            </a>
        </li>
        <li class="save-active-menu" data-menu="menu-zonas">
            <a href="{{ path('admin_zonas') }}">
                <i class="fa fa-location-arrow"></i><span>{{ 'menu.informe_semanal.zonas'|trans|capitalize }}</span>
            </a>
        </li>
        <li class="save-active-menu" data-menu="menu-asociaciones">
            <a href="{{ path('admin_asociaciones') }}">
                <i class="fa fa-users"></i><span>{{ 'menu.asociaciones'|trans|capitalize }}</span>
            </a>
        </li>
        <li class="treeview" data-menu="menu-config">
            <a href="#">
                <i class="fa fa-laptop"></i><span>{{ 'menu.config.title'|trans|capitalize }}</span>
                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
            </a>
            <ul class="treeview-menu">
                <li class="save-active-menu" data-menu="menu-categorias" data-parent="menu-config">
                    <a href="{{ path('admin_categoria') }}">
                        <i class="fa fa-th"></i><span>{{ 'menu.config.categorias'|trans|capitalize }}</span>
                    </a>
                </li>
                <li class="save-active-menu" data-menu="menu-estados-formularios" data-parent="menu-config">
                    <a href="{{ path('admin_estadoformulario') }}">
                        <i class="fa fa-edit"></i><span>{{ 'menu.config.estados_formularios'|trans|capitalize }}</span>
                    </a>
                </li>
                <li class="save-active-menu" data-menu="menu-tipo-formularios" data-parent="menu-config">
                    <a href="{{ path('admin_tipoformulario') }}">
                        <i class="fa fa-edit"></i><span>{{ 'menu.config.tipos_formularios'|trans|capitalize }}</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview" data-menu="menu-users">
            <a href="#">
                <i class="fa fa-user"></i><span>{{ 'menu.users.title'|trans|capitalize }}</span>
                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
            </a>
            <ul class="treeview-menu">
                <li class="save-active-menu" data-menu="menu-user" data-parent="menu-users">
                    <a href="{{ path("app_user") }}">
                        <i class="fa fa-user"></i><span>{{ 'menu.users.users'|trans|capitalize }}</span>
                    </a>
                </li>
                <li class="save-active-menu" data-menu="menu-role" data-parent="menu-users">
                    <a href="{{ path("app_role") }}">
                        <i class="fa fa-users"></i><span>{{ 'menu.users.roles'|trans|capitalize }}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</section>
<!-- /.sidebar -->