<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}Synchro{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'/>
    <style type="text/css">
        #wrapper {
            width: 800px;
            max-width: 800px;
            margin: 0 auto;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            overflow: hidden;
        }

        #content {
            width: 100%;
            margin: 30px 0;
        }

    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div id="wrapper">
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>