{% if form is defined %}
    {% if not form.vars.valid %}
        <div id="close" class="alert alert-danger alert-dismissable fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% for child in form.children %}
                {% if child.vars.errors | length %}
                    <p>{{ child.vars.label|trans }}:&nbsp;
                        {% for error in child.vars.errors %}
                            {{ error.message }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endif %}