{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/plugins/select2/select2.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/app/plugins/colorpicker/bootstrap-colorpicker.min.css') }}" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css">
    <link href="{{ asset('bundles/app/css/comun.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block bodyclass %}fixed skin-green sidebar-mini wysihtml5-supported{% endblock %}

{% block content %}
    <div class="wrapper">
        <header class="main-header">
            <a href="{{ path("app_default_index") }}" class="logo" style="background: #FFF !important;">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                <span class="logo-lg">
                    <img src="{{ asset('bundles/app/img/logo.jpg') }}" height="35" alt="{{ 'app.name'|trans }}"
                         title="{{ 'app.name'|trans }}" class="icon"/> {{ 'app.name'|trans }}
                </span>
                <span class="logo-mini">
                    <img src="{{ asset('bundles/app/img/logo-mini.jpg') }}" height="45" alt="{{ 'app.name'|trans }}"
                         title="{{ 'app.name'|trans }}" class="icon" style="max-width:80%;"/>
                </span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                {% include('include/header.html.twig') %}
            </nav>
        </header>

        <aside class="main-sidebar">
            {% include('include/menu.html.twig') %}
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>{% block titleContent %}{{ 'menu.home'|trans|capitalize }}{% endblock %}</h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="{{ path("app_default_index") }}">
                            <i class="fa fa-dashboard"></i> {{ 'menu.home'|trans|capitalize }}
                        </a>
                    </li>
                    {% block breadcrumb %}{% endblock %}
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                {% if app.request.hasPreviousSession %}
                    {% for tipo, mensajes in app.session.flashbag.all() %}
                        {% for mensaje in mensajes %}
                            <div id="close" class="alert alert-{{ tipo }} alert-dismissable fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ mensaje|trans|raw }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                {% block contenido %}{% endblock %}
            </section><!-- /.content -->
        </div><!-- /.right-side -->
    </div>

    <div class="control-sidebar-bg" style="position: fixed; height: auto;"></div>

    <div class="modal fade modal-loading" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body text-center">
                    <h3><i class="fa fa-cog fa-spin"></i> Procesando...</h3>
                    <p class="help-block">Este proceso puede tardar unos minutos.
                    <p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- AdminLTE App -->
    <script src="{{ asset('bundles/app/plugins/slimScroll/jquery.slimscroll.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('bundles/app/plugins/fastclick/fastclick.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/plugins/select2/select2.full.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/plugins/select2/i18n/es.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/app.min.js') }}" type="text/javascript"></script>

    <script src="{{ asset('bundles/app/js/main.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/intranet.js') }}" type="text/javascript"></script>
{% endblock %}