/**
{% block phpdoc_method_header %}
{% endblock phpdoc_method_header %}
{% block phpdoc_method_annotations %}
    {% if 'annotation' == format %}
        * @Route("/", name="{{ route_name_prefix }}_create", methods={"POST"})
    {% endif %}
{% endblock phpdoc_method_annotations %}
*/
{% block method_definition %}
    public function createAction(Request $request)
{% endblock method_definition %}
{
{% block method_body %}
    $entity = new {{ entity_class }}();
    $form = $this->createCreateForm($entity);
    $form->handleRequest($request);

    if ($form->isValid()) {
    $entityManager = $this->getDoctrine()->getManager();
    $entityManager->persist($entity);
    $entityManager->flush();

    $this->addFlash('success', '{{ entity }} guardado correctamente');

    {% if 'show' in actions -%}
        return $this->redirectToRoute('{{ route_name_prefix }}_show', array('id' => $entity->getId()));
    {%- else -%}
        return $this->redirectToRoute('{{ route_name_prefix }}');
    {%- endif %}
    }
{% endblock method_body %}

{% block method_return %}
    return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'})|lower }}:new.html.twig', array(
    'entity' => $entity,
    'form'   => $form->createView(),
    ));
{% endblock method_return %}
}

{% block form %}
    /**
    * @param {{ entity_class }} $entity
    *
    * @return FormInterface
    */
    private function createCreateForm({{ entity_class }} $entity)
    {
    $form = $this->createForm({{ entity_class | capitalize }}Type::class, $entity, array(
    'action' => $this->generateUrl('{{ route_name_prefix }}_create'),
    'method' => 'POST',
    ));

    return $form;
    }
{% endblock form %}
