/**
{% block phpdoc_method_header %}
{% endblock phpdoc_method_header %}
{% block phpdoc_method_annotations %}
    {% if 'annotation' == format %}
        * @Route("/{id}", name="{{ route_name_prefix }}_delete", methods={"DELETE"})
    {% endif %}
{% endblock phpdoc_method_annotations %}
*/
{% block method_definition %}
    public function deleteAction(Request $request, $id)
{% endblock method_definition %}
{
{% block method_body %}
    $form = $this->createDeleteForm($id);
    $form->handleRequest($request);

    if ($form->isValid()) {
    $entityManager = $this->getDoctrine()->getManager();
    $entity = $entityManager->getRepository('{{ bundle }}:{{ entity }}')->find($id);

    if (!$entity) {
    throw $this->createNotFoundException('Entity not found {{ entity }}.');
    }

    $entityManager->remove($entity);
    $entityManager->flush();

    $this->addFlash('success', '{{ entity }} eliminado correctamente');
    }
{% endblock method_body %}

{% block method_return %}
    return $this->redirectToRoute('{{ route_name_prefix }}');
{% endblock method_return %}
}

{% block form %}
    /**
    * @param mixed $id The entity id
    *
    * @return FormInterface
    */
    private function createDeleteForm($id)
    {
    return $this->createFormBuilder()
    ->setAction($this->generateUrl('{{ route_name_prefix }}_delete', array('id' => $id)))
    ->setMethod('DELETE')
    ->add('submit', SubmitType::class, array('label' => 'Delete', 'attr' => array('class' => 'btn-danger')))
    ->getForm()
    ;
    }
{% endblock form %}
