/**
{% block phpdoc_method_header %}
{% endblock phpdoc_method_header %}
{% block phpdoc_method_annotations %}
    {% if 'annotation' == format %}
        * @Route("/{id}/edit", name="{{ route_name_prefix }}_edit", methods={"GET"})
    {% endif %}
{% endblock phpdoc_method_annotations %}
*/
{% block method_definition %}
    public function editAction($id)
{% endblock method_definition %}
{
{% block method_body %}
    $entityManager = $this->getDoctrine()->getManager();

    $entity = $entityManager->getRepository('{{ bundle }}:{{ entity }}')->find($id);

    if (!$entity) {
    throw $this->createNotFoundException('Entity not found {{ entity }}.');
    }

    $editForm = $this->createEditForm($entity);
    $deleteForm = $this->createDeleteForm($id);
{% endblock method_body %}

{% block method_return %}
    return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'})|lower }}:edit.html.twig', array(
    'entity'      => $entity,
    'edit_form'   => $editForm->createView(),
    'delete_form' => $deleteForm->createView(),
    ));
{% endblock method_return %}
}

{% block form %}
    /**
    * @param {{ entity_class }} $entity
    *
    * @return FormInterface
    */
    private function createEditForm({{ entity_class }} $entity)
    {
    $form = $this->createForm({{ entity_class | capitalize }}Type::class, $entity, array(
    'action' => $this->generateUrl('{{ route_name_prefix }}_update', array('id' => $entity->getId())),
    'method' => 'PUT',
    ));

    return $form;
    }
{% endblock form %}
