/**
{% block phpdoc_method_header %}
{% endblock phpdoc_method_header %}
{% block phpdoc_method_annotations %}
    {% if 'annotation' == format %}
        * @Route("/", name="{{ route_name_prefix }}", methods={"GET"})
    {% endif %}
    * @throws Exception
{% endblock phpdoc_method_annotations %}
*/
{% block method_definition %}
    public function indexAction()
{% endblock method_definition %}
{
{% block method_body %}
    $datatable = $this->get('sg_datatables.factory')->create({{ entity }}Datatable::class);
    $datatable->buildDatatable();
{% endblock method_body %}

{% block method_return %}
    return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'})|lower }}:index.html.twig', array('datatable' => $datatable));
{% endblock method_return %}
}

/**
{% if 'annotation' == format %}
    * @Route("/ajax-update/", name="{{ route_name_prefix }}_ajax_update", methods={"POST"})
{% endif %}
* @return JsonResponse
*/
public function ajaxUpdate()
{
try {
$datatable = $this->get('sg_datatables.factory')->create({{ entity }}Datatable::class);
$datatable->buildDatatable();
$responseService = $this->get('sg_datatables.response');
$responseService->setDatatable($datatable);
$responseService->getDatatableQueryBuilder();

return $responseService->getResponse();
} catch (\Exception $exception) {
return new JsonResponse(array('error' => 'ajax-update'));
}
}