/**
{% block phpdoc_method_header %}
{% endblock phpdoc_method_header %}
{% block phpdoc_method_annotations %}
    {% if 'annotation' == format %}
        * @Route("/new", name="{{ route_name_prefix }}_new", methods={"GET"})
    {% endif %}
{% endblock phpdoc_method_annotations %}
*/
{% block method_definition %}
    public function newAction()
{% endblock method_definition %}
{
{% block method_body %}
    $entity = new {{ entity_class }}();
    $form   = $this->createCreateForm($entity);
{% endblock method_body %}

{% block method_return %}
    return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'})|lower }}:new.html.twig', array(
    'entity' => $entity,
    'form'   => $form->createView(),
    ));
{% endblock method_return %}
}
