/**
{% block phpdoc_method_header %}
{% endblock phpdoc_method_header %}
{% block phpdoc_method_annotations %}
    {% if 'annotation' == format %}
        * @Route("/{id}", name="{{ route_name_prefix }}_show", methods={"GET"})
    {% endif %}
{% endblock phpdoc_method_annotations %}
*/
{% block method_definition %}
    public function showAction($id)
{% endblock method_definition %}
{
{% block method_body %}
    $entityManager = $this->getDoctrine()->getManager();

    $entity = $entityManager->getRepository('{{ bundle }}:{{ entity }}')->find($id);

    if (!$entity) {
    throw $this->createNotFoundException('Entity not found {{ entity }}.');
    }
    {% if 'delete' in actions %}

        $deleteForm = $this->createDeleteForm($id);
    {% endif %}
{% endblock method_body %}

{% block method_return %}
    return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'})|lower }}:show.html.twig', array(
    'entity'      => $entity,
    {% if 'delete' in actions %}
        'delete_form' => $deleteForm->createView(),
    {% endif %}
    ));
{% endblock method_return %}
}
