/**
{% block phpdoc_method_header %}
{% endblock phpdoc_method_header %}
{% block phpdoc_method_annotations %}
    {% if 'annotation' == format %}
        * @Route("/{id}", name="{{ route_name_prefix }}_update", methods={"PUT"})
    {% endif %}
{% endblock phpdoc_method_annotations %}
*/
{% block method_definition %}
    public function updateAction(Request $request, $id)
{% endblock method_definition %}
{
{% block method_body %}
    $entityManager = $this->getDoctrine()->getManager();

    $entity = $entityManager->getRepository('{{ bundle }}:{{ entity }}')->find($id);

    if (!$entity) {
    throw $this->createNotFoundException('Entity not found {{ entity }}.');
    }

    $editForm = $this->createEditForm($entity);
    $editForm->handleRequest($request);

    if ($editForm->isValid()) {
    $entityManager->flush();
    $this->addFlash('success', '{{ entity }} guardado correctamente');
    return $this->redirectToRoute('{{ route_name_prefix }}_show', array('id' => $id));
    }
{% endblock method_body %}

{% block method_return %}
    return $this->redirectToRoute('{{ route_name_prefix }}_edit', array('id' => $id));
{% endblock method_return %}
}
