{% extends '::base.html.twig' %}

{% block bodyclass %}hold-transition login-page{% endblock %}

{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <img src="{{ asset('bundles/app/img/logo.png') }}" width="200" alt="{{ 'app.name'|trans }}"/>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <form action="{{ path("login_check") }}" method="post">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="_username" placeholder="{{ 'form.email'|trans }}"
                           value="{{ last_username }}" required="required"/>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" id="password" class="form-control" name="_password" required="required"
                           placeholder="{{ 'form.password'|trans }}"/>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                {% if error %}
                    <div class="help-block text-red">{{ error.message | trans }}</div>
                {% endif %}
                <div class="row">
                    <div class="col-xs-offset-8 col-xs-4">
                        <input type="submit" id="_submit" class="btn btn-primary btn-block btn-flat" name="_submit"
                               value="{{ 'form.login'|trans|capitalize }}"/>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-box-body -->
    </div>
{% endblock %}

{% block footer %}
    <footer class="main-footer">
        <strong>Copyright © {{ "now" | date("Y") }}
            <div class="pull-right hidden-xs"><b>Version</b> 3.4</div>
    </footer>
{% endblock %}