{% extends '::intranet.html.twig' %}

    {% block title %}PreciosActProd{% endblock %}
    {% block titleContent %}PreciosActProd{% endblock %}

    {% block contenido %}
        <div class="box box-solid">
            <div class="box-body text-right">
                <a class="btn btn-default" href="{{ path('admin_preciosactprod') }}">
                    {{ 'label.list'|trans|capitalize }}
                </a>
                <a class="btn btn-warning"
                   href="{{ path('admin_preciosactprod_edit', { 'id': entity.id }) }}">
                    {{ 'label.edit'|trans|capitalize }}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">PreciosActProd {{ entity.id }}</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ entity.id }}</td>
                            </tr>
                            <tr>
                                <th>Envase</th>
                                <td>{{ entity.envase }}</td>
                            </tr>
                            <tr>
                                <th>Origen</th>
                                <td>{{ entity.origen }}</td>
                            </tr>
                            <tr>
                                <th>Precio</th>
                                <td>{{ entity.precio }}</td>
                            </tr>
                            <tr>
                                <th>Estado</th>
                                <td>{{ entity.estado }}</td>
                            </tr>
                            <tr>
                                <th>Fecha</th>
                                <td>{% if entity.fecha %}{{ entity.fecha|date('d/m/Y ') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Info</th>
                                <td>{{ entity.info }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
