{% extends '::intranet.html.twig' %}

    {% block title %}EstadoFormulario{% endblock %}
    {% block titleContent %}EstadoFormulario{% endblock %}

    {% block contenido %}
        <div class="box box-solid">
            <div class="box-body text-right">
                <a class="btn btn-default" href="{{ path('admin_estadoformulario') }}">
                    {{ 'label.list'|trans|capitalize }}
                </a>
                <a class="btn btn-warning"
                   href="{{ path('admin_estadoformulario_edit', { 'id': entity.id }) }}">
                    {{ 'label.edit'|trans|capitalize }}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">EstadoFormulario {{ entity.id }}</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ entity.id }}</td>
                            </tr>
                            <tr>
                                <th>Nombre</th>
                                <td>{{ entity.nombre }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
