{% extends '::intranet.html.twig' %}

    {% block titulo %}{{ 'label.add'|trans|capitalize }} Formularios{% endblock %}
    {% block titleContent %}{{ 'label.add'|trans|capitalize }} Formularios{% endblock %}

    {% block contenido %}
        <div class="box box-solid">
            <div class="box-body text-right">
                <a class="btn btn-default" href="{{ path('formularios') }}">
                    {{ 'label.list'|trans|capitalize }}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'label.add'|trans|capitalize }} Formularios</h3>
                    </div>
                    {{ form_start(form) }}
                    <div class="box-body">
                        {{ form_rest(form) }}
                    </div>
                    <div class="box-footer">
                        <a class="btn btn-default" href="{{ path('formularios') }}">
                            {{ 'label.cancel'|trans|capitalize }}
                        </a>
                        <button type="submit"
                                class="btn btn-warning pull-right">{{ 'label.save'|trans|capitalize }}</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% endblock %}
