{% extends '::intranet.html.twig' %}

    {% block title %}Formularios{% endblock %}
    {% block titleContent %}Formularios{% endblock %}

    {% block contenido %}
        <div class="box box-solid">
            <div class="box-body text-right">
                <a class="btn btn-default" href="{{ path('formularios') }}">
                    {{ 'label.list'|trans|capitalize }}
                </a>
                <a class="btn btn-warning"
                   href="{{ path('formularios_edit', { 'id': entity.id }) }}">
                    {{ 'label.edit'|trans|capitalize }}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Formularios {{ entity.id }}</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ entity.id }}</td>
                            </tr>
                            <tr>
                                <th>Fecha</th>
                                <td>{% if entity.fecha %}{{ entity.fecha|date('d/m/Y ') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Estado</th>
                                <td>{{ entity.estado }}</td>
                            </tr>
                            <tr>
                                <th>Tipo</th>
                                <td>{{ entity.tipo }}</td>
                            </tr>
                            <tr>
                                <th>Campo0</th>
                                <td>{{ entity.campo0 }}</td>
                            </tr>
                            <tr>
                                <th>Campo1</th>
                                <td>{{ entity.campo1 }}</td>
                            </tr>
                            <tr>
                                <th>Campo2</th>
                                <td>{{ entity.campo2 }}</td>
                            </tr>
                            <tr>
                                <th>Campo3</th>
                                <td>{{ entity.campo3 }}</td>
                            </tr>
                            <tr>
                                <th>Campo4</th>
                                <td>{{ entity.campo4 }}</td>
                            </tr>
                            <tr>
                                <th>Campo5</th>
                                <td>{{ entity.campo5 }}</td>
                            </tr>
                            <tr>
                                <th>Campo6</th>
                                <td>{{ entity.campo6 }}</td>
                            </tr>
                            <tr>
                                <th>Campo7</th>
                                <td>{{ entity.campo7 }}</td>
                            </tr>
                            <tr>
                                <th>Campo8</th>
                                <td>{{ entity.campo8 }}</td>
                            </tr>
                            <tr>
                                <th>Campo9</th>
                                <td>{{ entity.campo9 }}</td>
                            </tr>
                            <tr>
                                <th>Campo10</th>
                                <td>{{ entity.campo10 }}</td>
                            </tr>
                            <tr>
                                <th>Campo11</th>
                                <td>{{ entity.campo11 }}</td>
                            </tr>
                            <tr>
                                <th>Campo12</th>
                                <td>{{ entity.campo12 }}</td>
                            </tr>
                            <tr>
                                <th>Campo13</th>
                                <td>{{ entity.campo13 }}</td>
                            </tr>
                            <tr>
                                <th>Campo14</th>
                                <td>{{ entity.campo14 }}</td>
                            </tr>
                            <tr>
                                <th>Campo15</th>
                                <td>{{ entity.campo15 }}</td>
                            </tr>
                            <tr>
                                <th>Filedoc</th>
                                <td>{{ entity.fileDoc }}</td>
                            </tr>
                            <tr>
                                <th>Filexls</th>
                                <td>{{ entity.fileXls }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
