    {% extends '::intranet.html.twig' %}

    {% block title %}{{ 'label.edit'|trans|capitalize }} PreciosSupermercado{% endblock %}
    {% block titleContent %}{{ 'label.edit'|trans|capitalize }} PreciosSupermercado{% endblock %}

    {% block contenido %}
        <div class="box box-solid">
    <div class="box-body text-right">
        <a class="btn btn-default" href="{{ path('admin_supermercados') }}">
            {{ 'label.list'|trans|capitalize }}
        </a>
            </div>
</div>
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'label.edit'|trans|capitalize }} PreciosSupermercado</h3>
                </div>
                {{ form_start(edit_form) }}
                <div class="box-body">
                    {{ form_rest(edit_form) }}
                </div>
                <div class="box-footer">
                    <a class="btn btn-default"
                       href="{{ path('admin_supermercados_show', { 'id': entity.id }) }}">
                        {{ 'label.cancel'|trans|capitalize }}
                    </a>
                    <button type="submit"
                            class="btn btn-warning pull-right">{{ 'label.save'|trans|capitalize }}</button>
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
    {% endblock %}
