{% extends '::intranet.html.twig' %}

{% block title %}{{ 'label.edit'|trans|capitalize }} Role{% endblock %}
{% block titleContent %}{{ 'label.edit'|trans|capitalize }} Role{% endblock %}

{% block breadcrumb %}
    <li>{{ 'menu.admin'|trans|capitalize }}</li>
    <li>{{ 'role.entity'|trans|capitalize }}</li>
    <li class="active">{{ 'label.edit'|trans|capitalize }}</li>
{% endblock %}

{% block contenido %}
    <div class="box box-solid">
        <div class="box-body text-right">
            <a class="btn btn-default" href="{{ path('app_role_show', { 'id': entity.id }) }}">
                {{ 'label.cancel'|trans|capitalize }}
            </a>
            <a class="btn btn-default" href="{{ path('app_role') }}">
                {{ 'label.list'|trans|capitalize }}
            </a>
        </div>
    </div>

    <div class="row">
        {{ form_start(edit_form) }}
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Role</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-12 form-group">
                        <div class="col-md-6">
                            {{ form_label(edit_form.name) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(edit_form.name) }}
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-6">
                            {{ form_label(edit_form.code) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(edit_form.code) }}
                        </div>
                    </div>
                </div>
                <div class="box-footer text-right">
                    <span>
                        <a class="btn btn-default" href="{{ path('app_role_show', { 'id': entity.id }) }}">
                            {{ "label.cancel"|trans|capitalize }}
                        </a>
                    </span>
                    <button type="submit"
                            class="btn btn-warning pull-right">{{ "label.save"|trans|capitalize }}</button>
                </div>
            </div>
        </div>
        {{ form_rest(edit_form) }}
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
