{% extends '::intranet.html.twig' %}

{% block title %}{{ 'role.entity'|trans|capitalize }}{% endblock %}
{% block titleContent %}{{ 'role.entity'|trans|capitalize }}{% endblock %}

{% block breadcrumb %}
    <li>{{ 'menu.admin'|trans|capitalize }}</li>
    <li>{{ 'role.entity'|trans|capitalize }}</li>
    <li class="active">{{ 'label.show'|trans|capitalize }}</li>
{% endblock %}

{% block contenido %}
    <div class="box box-solid">
        <div class="box-body text-right">
            {{ form_start(delete_form) }}
            {{ form_widget(delete_form.submit, { 'label': 'label.delete'|trans|capitalize }) }}
            <a class="btn btn-default" href="{{ path('app_role') }}">
                {{ 'label.list'|trans|capitalize }}
            </a>
            <a class="btn btn-warning" href="{{ path('app_role_edit', { 'id': entity.id }) }}">
                {{ 'label.edit'|trans|capitalize }}
            </a>
            {{ form_rest(delete_form) }}
            {{ form_end(delete_form) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border"><h3
                            class="box-title">{{ 'role.entity'|trans|capitalize }} {{ entity.id }}</h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ entity.name }}</td>
                        </tr>
                        <tr>
                            <th>Code</th>
                            <td>{{ entity.code }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
