{% extends '::intranet.html.twig' %}

{% block title %}{{ 'user.entity'|trans|capitalize }} {{ 'label.change_password'|trans|capitalize }}{% endblock %}
{% block titleContent %}{{ 'user.entity'|trans|capitalize }} {{ 'label.change_password'|trans|capitalize }}{% endblock %}

{% block breadcrumb %}
    <li>{{ 'menu.admin'|trans|capitalize }}</li>
    <li>{{ 'user.entity'|trans|capitalize }}</li>
    <li class="active">{{ 'label.change_password'|trans|capitalize }}</li>
{% endblock %}

{% block contenido %}
    <div class="box box-solid">
        <div class="box-body text-right">
            <a class="btn btn-default" href="{{ path('app_user_show', { 'id': entity.id }) }}">
                {{ 'label.cancel'|trans|capitalize }}
            </a>
            <a class="btn btn-default" href="{{ path('app_user') }}">
                {{ 'label.list'|trans|capitalize }}
            </a>
        </div>
    </div>

    {% include '::form_errors.html.twig' with {'form':edit_form} %}

    <div class="row">
        {{ form_start(edit_form) }}
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'label.edit'|trans|capitalize }} {{ 'user.entity'|trans|capitalize }}</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-12 form-group">
                        <div class="col-md-6">
                            {{ form_label(edit_form.password.first) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(edit_form.password.first) }}
                            {{ form_errors(edit_form.password.first) }}
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-6">
                            {{ form_label(edit_form.password.second) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(edit_form.password.second) }}
                        </div>
                    </div>
                </div>
                <div class="box-footer text-right">
                    <span>
                        <a class="btn btn-default"
                           href="{{ path('app_user_show', { 'id': entity.id }) }}">{{ 'label.cancel'|trans|capitalize }}</a>
                    </span>
                    <button type="submit"
                            class="btn btn-warning pull-right">{{ 'label.save'|trans|capitalize }}</button>
                </div>
            </div>
        </div>
        {{ form_rest(edit_form) }}
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
