{% extends '::intranet.html.twig' %}

{% block title %}{{ 'label.edit'|trans|capitalize }} {{ 'user.entity'|trans|capitalize }}{% endblock %}
{% block titleContent %}{{ 'label.edit'|trans|capitalize }} {{ 'user.entity'|trans|capitalize }}{% endblock %}

{% block breadcrumb %}
    <li>{{ 'menu.admin'|trans|capitalize }}</li>
    <li>{{ 'user.entity'|trans|capitalize }}</li>
    <li class="active">{{ 'label.edit'|trans|capitalize }}</li>
{% endblock %}

{% block contenido %}
    <div class="box box-solid">
        <div class="box-body text-right">
            <a class="btn btn-default" href="{{ path('app_user_show', { 'id': entity.id }) }}">
                {{ 'label.cancel'|trans|capitalize }}
            </a>
            <a class="btn btn-default" href="{{ path('app_user') }}">
                {{ 'label.list'|trans|capitalize }}
            </a>
            <a class="btn btn-warning" href="{{ path('app_user_change_password', { 'id': entity.id }) }}">
                {{ 'label.change_password'|trans|capitalize }}
            </a>
        </div>
    </div>

    {% include '::form_errors.html.twig' with {'form':edit_form} %}

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'label.edit'|trans|capitalize }} {{ 'user.entity'|trans|capitalize }}</h3>
                </div>
                {{ form_start(edit_form) }}
                <div class="box-body">
                    {{ form_rest(edit_form) }}
                </div>
                <div class="box-footer">
                    <a class="btn btn-default"
                       href="{{ path('app_user_show', { 'id': entity.id }) }}">
                        {{ 'label.cancel'|trans|capitalize }}
                    </a>
                    <button type="submit"
                            class="btn btn-warning pull-right">{{ 'label.save'|trans|capitalize }}</button>
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}
