{% extends '::datatable.html.twig' %}

{% block title %}{{ 'user.entity'|trans|capitalize }} {{ 'label.list'|trans|capitalize }}{% endblock %}
{% block titleContent %}{{ 'user.entity'|trans|capitalize }} {{ 'label.list'|trans|capitalize }}{% endblock %}

{% block breadcrumb %}
    <li>{{ 'menu.admin'|trans|capitalize }}</li>
    <li>{{ 'user.entity'|trans|capitalize }}</li>
    <li class="active">{{ 'label.list'|trans|capitalize }}</li>
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body text-right">
                    <a class="btn btn-warning" href="{{ path('app_user_new') }}">{{ 'label.add'|trans|capitalize }}</a>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    {{ sg_datatables_render(datatable) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
