{% extends '::intranet.html.twig' %}

{% block title %}{{ 'label.add'|trans|capitalize }} {{ 'user.entity'|trans|capitalize }}{% endblock %}
{% block titleContent %}{{ 'label.add'|trans|capitalize }} {{ 'user.entity'|trans|capitalize }}{% endblock %}

{% block breadcrumb %}
    <li>{{ 'menu.admin'|trans|capitalize }}</li>
    <li>{{ 'user.entity'|trans|capitalize }}</li>
    <li class="active">{{ 'label.add'|trans|capitalize }}</li>
{% endblock %}

{% block contenido %}
    <div class="box box-solid">
        <div class="box-body text-right">
            <a class="btn btn-default" href="{{ path('app_user') }}">
                {{ 'label.list'|trans|capitalize }}
            </a>
        </div>
    </div>

    {% include '::form_errors.html.twig' %}

    <div class="row">
        {{ form_start(form) }}
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border"><h3 class="box-title">{{ 'user.entity'|trans|capitalize }}</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-12 form-group">
                        <div class="col-md-3">
                            {{ form_label(form.name) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(form.name) }}
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-3">
                            {{ form_label(form.user) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(form.user) }}
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-3">
                            {{ form_label(form.email) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(form.email) }}
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-3">
                            {{ form_label(form.password.first) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(form.password.first) }}
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-3">
                            {{ form_label(form.password.second) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(form.password.second) }}
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-3">
                            {{ form_label(form.role) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(form.role) }}
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-3">
                            {{ form_label(form.uploadedFile) }}
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.uploadedFile) }}
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="col-md-3">
                            {{ form_label(form.active) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(form.active) }}
                        </div>
                    </div>
                </div>
                <div class="box-footer text-right">
                    <span>
                        <a class="btn btn-default"
                           href="{{ path('app_user') }}">{{ 'label.cancel'|trans|capitalize }}</a>
                    </span>
                    <button type="submit"
                            class="btn btn-warning pull-right">{{ 'label.save'|trans|capitalize }}</button>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
