{% extends '::intranet.html.twig' %}

{% block title %}{{ 'user.entity'|trans|capitalize }}{% endblock %}
{% block titleContent %}{{ 'user.entity'|trans|capitalize }}{% endblock %}

{% block breadcrumb %}
    <li>{{ 'menu.admin'|trans|capitalize }}</li>
    <li>{{ 'user.entity'|trans|capitalize }}</li>
    <li class="active">{{ 'label.show'|trans|capitalize }}</li>
{% endblock %}

{% block contenido %}
    <div class="box box-solid">
        <div class="box-body text-right">
            {{ form_start(delete_form) }}
            {{ form_widget(delete_form.submit, { 'label': 'label.delete'|trans|capitalize }) }}
            <a class="btn btn-default" href="{{ path('app_user') }}">
                {{ 'label.list'|trans|capitalize }}
            </a>
            <a class="btn btn-warning" href="{{ path('app_user_change_password', { 'id': entity.id }) }}">
                {{ 'label.change_password'|trans|capitalize }}
            </a>
            <a class="btn btn-warning" href="{{ path('app_user_edit', { 'id': entity.id }) }}">
                {{ 'label.edit'|trans|capitalize }}
            </a>
            {{ form_rest(delete_form) }}
            {{ form_end(delete_form) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'user.entity'|trans|capitalize }} {{ entity.id }}</h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'user.email'|trans|capitalize }}</th>
                            <td>{{ entity.email }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'user.name'|trans|capitalize }}</th>
                            <td>{{ entity.name }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'user.active'|trans|capitalize }}</th>
                            <td>{{ entity.active }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'user.last_access'|trans|capitalize }}</th>
                            <td>{% if entity.lastAccess %}{{ entity.lastAccess|date('d/m/Y') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Fecha exp</th>
                            <td>{% if entity.fechaExp %}{{ entity.fechaExp|date('d/m/Y') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>{{ 'user.avatar'|trans|capitalize }}</th>
                            <td>{% if entity.avatar %}<img src="{{ entity.routeAvatar }}" height="75" />{% endif %}</td>
                        </tr>
                        <tr>
                            <th>{{ 'user.role'|trans|capitalize }}</th>
                            <td>{{ entity.role }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Dirección y datos de contacto</h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Provincia</th>
                            <td>{{ entity.provincia }}</td>
                        </tr>
                        <tr>
                            <th>Población</th>
                            <td>{{ entity.poblacion }}</td>
                        </tr>
                        <tr>
                            <th>CP</th>
                            <td>{{ entity.cp }}</td>
                        </tr>
                        <tr>
                            <th>Calle</th>
                            <td>{{ entity.calle }}</td>
                        </tr>
                        <tr>
                            <th>Dirección</th>
                            <td>{{ entity.direccion }}</td>
                        </tr>
                        <tr>
                            <th>Teléfono</th>
                            <td>{{ entity.tlf }}</td>
                        </tr>
                        <tr>
                            <th>Fax</th>
                            <td>{{ entity.fax }}</td>
                        </tr>
                        <tr>
                            <th>Contacto</th>
                            <td>{{ entity.contacto }}</td>
                        </tr>
                        <tr>
                            <th>Cargo</th>
                            <td>{{ entity.cargo }}</td>
                        </tr>
                        <tr>
                            <th>Asociación</th>
                            <td>{{ entity.asociacion }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
