{% extends '::datatable.html.twig' %}

{% block title %}Promociones {{ 'label.list'|trans|capitalize }}{% endblock %}
{% block titleContent %}Promociones {{ 'label.list'|trans|capitalize }}{% endblock %}

{% block contenido %}
    <div class="box box-solid">
        <div class="box-body text-right">
            <a class="btn btn-warning" href="{{ path('admin_promociones_new') }}">
                {{ 'label.add'|trans|capitalize }}
            </a>
        </div>
    </div>

    <div class="box">
        <div class="box-body">
            {{ sg_datatables_render(datatable) }}
        </div>
    </div>
{% endblock %}
