{% extends '::intranet.html.twig' %}

{% block title %}Promociones{% endblock %}
{% block titleContent %}Promociones{% endblock %}

{% block contenido %}
    <div class="box box-solid">
        <div class="box-body text-right">
            <a class="btn btn-default" href="{{ path('estadisticas_promociones') }}">
                {{ 'label.list'|trans|capitalize }}
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-warning"
                   href="{{ path('admin_promociones_edit', { 'id': entity.id }) }}">
                    {{ 'label.edit'|trans|capitalize }}
                </a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Promociones {{ entity.id }}</h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ entity.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Descripción</th>
                            <td>{{ entity.descripcion }}</td>
                        </tr>
                        <tr>
                            <th>Fecha</th>
                            <td>{% if entity.fecha %}{{ entity.fecha|date('d/m/Y ') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Precio</th>
                            <td>{{ entity.precio }}</td>
                        </tr>
                        <tr>
                            <th>Envase</th>
                            <td>{{ entity.envase }}</td>
                        </tr>
                        <tr>
                            <th>Semana</th>
                            <td>{{ entity.semana }}</td>
                        </tr>
                        <tr>
                            <th>Origen</th>
                            <td>{{ entity.origen }}</td>
                        </tr>
                        <tr>
                            <th>Activo</th>
                            <td>{{ entity.activo }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
