{% block extends %}
    {{ "{% extends '::intranet.html.twig' %}" }}
{% endblock extends %}

{% block body %}
    {{ "{% block title %}" }}{{ "{{ 'label.edit'|trans|capitalize }}" }} {{ entity }}{{ "{% endblock %}" }}
    {{ "{% block titleContent %}" }}{{ "{{ 'label.edit'|trans|capitalize }}" }} {{ entity }}{{ "{% endblock %}" }}

    {{ "{% block contenido %}" }}
    {% set hide_edit, hide_delete = true, false %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ "{{ 'label.edit'|trans|capitalize }}" }} {{ entity }}</h3>
                </div>
                {{ '{{ form_start(edit_form) }}' }}
                <div class="box-body">
                    {{ '{{ form_rest(edit_form) }}' }}
                </div>
                <div class="box-footer">
                    <a class="btn btn-default"
                       href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity."~ identifier ~" }) }}" }}">
                        {{ "{{ 'label.cancel'|trans|capitalize }}" }}
                    </a>
                    <button type="submit"
                            class="btn btn-warning pull-right">{{ "{{ 'label.save'|trans|capitalize }}" }}</button>
                </div>
                {{ '{{ form_end(edit_form) }}' }}
            </div>
        </div>
    </div>
    {{ "{% endblock %}" }}
{% endblock body %}
