{% block extends %}
    {{ "{% extends '::datatable.html.twig' %}" }}
{% endblock extends %}

{% block body %}
    {{ "{% block title %}" }}{{ entity }} {{ "{{ 'label.list'|trans|capitalize }}" }}{{ "{% endblock %}" }}
    {{ "{% block titleContent %}" }}{{ entity }} {{ "{{ 'label.list'|trans|capitalize }}" }}{{ "{% endblock %}" }}

    {{ "{% block contenido %}" }}
    {% if 'new' in actions %}
        <div class="box box-solid">
            <div class="box-body text-right">
                <a class="btn btn-warning" href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}">
                    {{ "{{ 'label.add'|trans|capitalize }}" }}
                </a>
            </div>
        </div>
    {% endif %}

    <div class="box">
        <div class="box-body">
            {{ "{{ sg_datatables_render(datatable) }}" }}
        </div>
    </div>
    {{ "{% endblock %}" }}
{% endblock body %}
