{% block extends %}
    {{ "{% extends '::intranet.html.twig' %}" }}
{% endblock extends %}

{% block body %}
    {{ "{% block titulo %}" }}{{ "{{ 'label.add'|trans|capitalize }}" }} {{ entity }}{{ "{% endblock %}" }}
    {{ "{% block titleContent %}" }}{{ "{{ 'label.add'|trans|capitalize }}" }} {{ entity }}{{ "{% endblock %}" }}

    {{ "{% block contenido %}" }}
    {% set hide_edit = true %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ "{{ 'label.add'|trans|capitalize }}" }} {{ entity }}</h3>
                </div>
                {{ '{{ form_start(form) }}' }}
                <div class="box-body">
                    {{ '{{ form_rest(form) }}' }}
                </div>
                <div class="box-footer">
                    <a class="btn btn-default" href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}">
                        {{ "{{ 'label.cancel'|trans|capitalize }}" }}
                    </a>
                    <button type="submit"
                            class="btn btn-warning pull-right">{{ "{{ 'label.save'|trans|capitalize }}" }}</button>
                </div>
                {{ '{{ form_end(form) }}' }}
            </div>
        </div>
    </div>
    {{ "{% endblock %}" }}
{% endblock body %}
