{% block extends %}
    {{ "{% extends '::intranet.html.twig' %}" }}
{% endblock extends %}

{% block body %}
    {{ "{% block title %}" }}{{ entity }}{{ "{% endblock %}" }}
    {{ "{% block titleContent %}" }}{{ entity }}{{ "{% endblock %}" }}

    {{ "{% block contenido %}" }}
    {% set hide_edit, hide_delete = false, false %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ entity }} {{ '{{ entity.' ~ fields['id']['fieldName'] ~ ' }}' }}</h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <tbody>
                        {%- for field, metadata in fields %}

                            <tr>
                                <th>{{ field|capitalize }}</th>

                                {%- if metadata.type in ['date', 'datetime'] %}

                                    <td>{{ "{% if entity." ~ field|replace({'_': ''}) ~ " %}" }}{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'d\/m\/Y \') }}' }}{{ "{% endif %}" }}</td>

                                {%- else %}

                                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                                {%- endif %}

                            </tr>

                        {%- endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{ "{% endblock %}" }}
{% endblock body %}
