<?php

namespace {{ namespace }}\Controller{{ entity_namespace ? '\\' ~ entity_namespace : '' }};

{% block use_statements %}
use {{ namespace }}\Entity\{{ entity }};
{% if 'new' in actions or 'edit' in actions %}
use {{ namespace }}\Form\{{ entity }}Type;
{% endif %}
use Exception;
use Symfony\Bundle\FrameworkBundle\Controller\Controller;
{% if 'annotation' == format -%}
use Symfony\Component\Form\Extension\Core\Type\SubmitType;
use Symfony\Component\HttpFoundation\JsonResponse;
use Symfony\Component\HttpFoundation\RedirectResponse;
use Symfony\Component\Form\FormInterface;
use Symfony\Component\Routing\Annotation\Route;
{%- endif %}

{% if 'new' in actions or 'edit' in actions or 'delete' in actions %}
use Symfony\Component\HttpFoundation\Request;
{%- endif %}

{% endblock use_statements %}

/**
{% block phpdoc_class_header %}
 * {{ entity_singularized|capitalize }} controller.
{% endblock phpdoc_class_header %}
 *
{% block phpdoc_class_annotations %}
{% if 'annotation' == format %}
 * @Route("{{ route_prefix|default('/') }}")
{% endif %}
{% endblock phpdoc_class_annotations %}
 */
{% block class_definition %}
class {{ entity_class }}Controller extends Controller
{% endblock class_definition %}
{
{% block class_body %}
    {%- if 'index' in actions %}
        {%- include 'crud/actions/index.php.twig' %}
    {%- endif %}

    {%- if 'new' in actions %}
        {%- include 'crud/actions/create.php.twig' %}
        {%- include 'crud/actions/new.php.twig' %}
    {%- endif %}

    {%- if 'show' in actions %}
        {%- include 'crud/actions/show.php.twig' %}
    {%- endif %}

    {%- if 'edit' in actions %}
        {%- include 'crud/actions/edit.php.twig' %}
        {%- include 'crud/actions/update.php.twig' %}
    {%- endif %}

    {%- if 'delete' in actions %}
        {%- include 'crud/actions/delete.php.twig' %}
    {%- endif %}
{% endblock class_body %}
}
